*{
    padding: 0; margin: 0; box-sizing: border-box; text-decoration: none;
}
 
.pa{
    position: absolute;
}

.pr{
    position: relative;
}

.centgrid{
    /* sirve para centrar solo un elemento */
    display: grid;
    place-items: center;
}

.centflex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex100{
    display: flex;
    justify-content: space-between;
}

.pd25{
    padding: 25px;
}

.sombra{
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.5);
}

.img_fit{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.radius{
    border-radius: 100%;
}

.volver{
    font-size: 30px;
    left: 15px;
    top: 15px;
    height: 30px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.452);
    border-radius: 50%;
    backdrop-filter: blur(2px);
    color: black;
}


.imagen{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tag{
    height: auto;
    width: auto;
    padding: 3px;
    background-color: rgb(0, 219, 153);
    border-radius: 8px 0;
    font-size: 12px;
    font-weight: 500;
    color: white;
    right: -14%;
    bottom: -10%;
}

.resto_desc{
    height: fit-content;
    min-height: 60%;
    width: 100%;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    gap:20px;
    .titulo_menu{
        height: 60px;
        width: 100%;
        display: grid;
        place-items: center;
    }
    span{
        color: gray;
    }
    .iconos{
        span:nth-child(1){
            color: rgb(0, 219, 153);
        }
        span:nth-child(2){
            color: rgb(0, 219, 153);
        }
        span:nth-child(3){
            color: rgba(128, 128, 128, 0.505);
        }
    }
    
}

.resto_menu{
    position: fixed; /* lo que hace es que fija una clase en la posiscion que vos quieras */
    bottom: 0; /* ejemplo del fixed */
    height: 60px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.btn_menu{
    flex: 1;
    text-decoration: none;
    font-weight: bold;
    color: gray;
    text-transform: uppercase;
}

.btn_menu.active{
    border-top: solid 4px aquamarine;
}

.subtitulo_menu{
    display: flex;
    height: 60px;
    width: 100%;
    color: gray;
    h2{
        padding-bottom: 6px;
        margin-top: 6px;
        border-bottom: solid 4px aquamarine;
        font-size: 20px;
    }
}

.resto_titulo{
    h2{
        font-size: 25px;
    }
    h4{
        color: gray;
        padding-top: 15px;
    }
}

.contenedor_tarjetas{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5%;
    .tarjeta{
        height: 100%;
        width: 100%;
        display: flex;
        flex: 1;        
        box-shadow: 0 0 15px -3px;
        border-radius: 5px;
        .foto{
            display: flex;
            background-color: rgb(255, 255, 103);
            min-height: auto;
            width: 50%;
            border-radius: 5px;
            .imagen{
                padding: 0 8% 0 8%;
            }
        }
    
        .plato_desc{
            min-height: auto;
            width: 100%;
            overflow: hidden;
            /* white-space: nowrap;
            text-overflow: ellipsis; */
            background-color: rgb(148, 255, 255);
            border-radius: 5px;
            padding-left: 6%;
            h3{
                color: black;
                font-size: 18px;
                padding-bottom: 3%;
            }
            p{
                color: gray;
                font-size: 13px;
            }
        }
    }
}

.contenedor_tarjetas2{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 20%;
    .tarjeta{
        height: 100%;
        width: 100%;
        display: flex;
        flex: 1;        
        box-shadow: 0 0 15px -3px;
        border-radius: 5px;
        .foto{
            display: flex;
            background-color: rgb(255, 255, 103);
            min-height: auto;
            width: 50%;
            border-radius: 5px;
            .imagen{
                padding: 0 8% 0 8%;
            }
        }

        
        .resena{
            height: auto;
            width: 100%;
            overflow: hidden;
            background-color: rgb(148, 255, 255);
            padding-left: 6%;
            border-radius: 5px;
            /* white-space: nowrap;
            text-overflow: ellipsis; */
            font-size:larger;
            h3{
                font-size: 20px;
                color: black;
                padding-bottom: 5%;
            }
            h4{
                color: black;
                font-size: 15px;
                padding-bottom: 5%;
            }
            p{
                font-size: 12px;
                color: gray;
                padding-bottom: 5%;
            }
        }
    }
}

.info{
    span{
        cursor: pointer;
    }
    .iconos{
        display: flex;
        width: 100%;
        font-size: 30px;
        justify-content: space-around;
        span:nth-child(1) {
            color: orange;
        }
        span:nth-child(2) {
            color: rgb(145, 101, 19);
        }
        span:nth-child(3) {
            color: pink;
        }
    }
    .texto{
        display: flex;
        width: 100%;
        justify-content: space-around;
        span{
            color: gray;
        }
    }
}

@media (orientation: landscape){
    .resto_image{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 50%; 
        img_fit{
            display: flex;
            height: 50%;
            width: 50%; 
            object-fit: cover;
            justify-content: center;
            align-items: center;
        }
    }
    .contenedor_tarjetas{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        gap: 20px;
        .tarjeta{
            background-color: orange;
            height: 130px;
            flex: 0 0 calc(50% - 10px); 
            .foto{
                display: flex;
                background-color: rgb(255, 255, 103);
                min-height: auto;
                width: 50%;
                border-radius: 5px;
                .imagen{
                    padding: 0 8% 0 8%;
                }
            }  
            .plato_desc{
                border-radius: 0;
                h3{
                    color: black;
                    font-size: 30px;
                }
                p{
                    font-size: 20px;
                    color: gray;
                }
            } 
        }
}


.contenedor_tarjetas2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    gap: 20px;
    .tarjeta{
        background-color: orange;
        height: 130px;
        flex: 0 0 calc(50% - 10px); 
        .foto{
            display: flex;
            background-color: rgb(255, 255, 103);
            min-height: auto;
            width: 50%;
            border-radius: 5px;
            .imagen{
                padding: 0 8% 0 8%;
            }
        }
        .resena{
            height: 100%;
            overflow: hidden;
            /* white-space: nowrap;
            text-overflow: ellipsis; */
            h3{
                font-size: 25px;
                color: black;
                padding-bottom: 5px;
            }
            h4{
                color: black;
                font-size: 20px;
                padding-bottom: 5px;
            }
            p{
                font-size: 20px;
                color: gray;
            }
        }
    }
}

.tag{
    height: auto;
    width: auto;
    background-color: aquamarine;
    right: 10px;
    bottom:-12px;
    border-radius: 8px 0;
    padding: 8px;
    font-weight: 700;
    font-size: 30px;
    color: white;
}

}